{% extends 'base.html.twig' %}
{% block content %}
	<main id="content" class="d-flex justify-content-center container-fluid p-3 align-items-center flex-column">
		<h1>Blog</h1>
		{% block page_contents %}{% endblock %}
	</main>
{% endblock %}
