{% block footer_nav %}
	<div class="container-fluid bg-light flex flex-column w-100 flex-wrap py-6">
		<ul class="nav p-4 justify-content-center">
			<li class="nav-item">
				<a class="nav-link active" aria-current="page" href="/imprint">Impressum</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/legals">Rechtliche Hinweise</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/terms-of-use">Nutzungsbedingungen</a>
			</li>
		</ul>
	</div>
{% endblock %}
