{% block header %}
	<header class="d-flex justify-content-center flex-column container-fluid p-3 flex-wrap" id="header">
		<div id="brand-right" class="w-25 d-flex m-5 align-self-end">
			<img id="main-logo" class alt="Brand Name" src="{{ absolute_url(asset('images/brand-logo.svg'))}}" width="100%" height="auto">
		</div>
	</header>
{% endblock %}
